body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

#controls-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#url_input {
	margin: 20px;
	max-width: 500px;
	position: relative;
}
#url_input input {
	display: block;
	width: 100%;
}
#url_input.valid input {
	border: 3px solid green;
}
#url_input.valid:after {
	content: "✅";
	position: absolute;
	top: 20px;
	right: 0;
}

#canvas_fft {
	height: 512px;
	width: 10800px;
}
